.uppper-header {
    background-color: #00529e;
    color: #fff;
    font-size: 14px;
    padding: 15px 0;
}

.uppper-header-content {
    display: flex;
    justify-content: space-between;
}

.lower-header li::before {
    content: none;
}

.lower-header-content .navbar {
    background-color: white !important;
}

.lower-header-content .nav-link.active {
    color: #00529e;
}

a.nav-link.active::before {
    position: absolute;
    color: #00529e;
    height: 4px;
}